[submodule "data-ingestion"]
	path = data-ingestion
	url = git@github.com:sphere-sh/data-ingestion.git
[submodule "data-storage"]
    path = data-storage
    url = git@github.com:sphere-sh/data-storage.git
[submodule "data-management"]
	path = data-management
	url = git@github.com:sphere-sh/data-management.git
